.style1 {
    width: 183px;
}


.style2 {
    text-align: right;
}

.style3 {
    width: 100px;
    height: 522px;
}

.style4 {
    width: auto;
    height: auto;
    font-size: xx-large;
}

.style5 {
    width: 100%;
    height: 100px;
    border-style: solid;
    border-width: 1px;
}

.style7 {
    font-size: medium;
    height: 60px;
}

.style8 {
    height: 48px;
    font-size: medium;
    font-weight: bold;
}

.style9 {
    font-size: large;
}

.style10 {
    text-align: right;
    width: 81px;
}

.style11 {
    width: 520px;
}

.sidemenu {
    list-style: none;
    margin: 0;
    padding-left: 2px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
}

    .sidemenu li {
        padding-top: 5px;
        padding-right: 1px;
    }

    .sidemenu li {
        padding-left: 11px;
        /*background: url(http://www.ebi.ac.uk/inc/images/leftmenu/level1_link.gif) no-repeat  top left;
	*/ color: #006666;
    }




        .sidemenu li.leftmenudivider {
            padding: 0;
            border: none 0;
            width: 100%;
            height: 1px;
            /*background: #ffffff url(http://www.ebi.ac.uk/inc/images/line.jpg) repeat scroll center;
 	*/ text-align: left;
            margin: 10px 0px 10px 0px; /* top right bottom left*/
            font-size: 1px;
        }



.slidecontainer_open {
    border: 1px solid #bfbfbf;
    width: 162px;
    padding: 0px;
    margin: 5px 0px 10px 2px;
}


.iconbox2heading {
    border: 1px solid #bfbfbf;
    padding-left: 5px;
    position: relative;
    padding-right: 4px;
    padding-top: 3px;
    padding-bottom: 4px;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 0px;
    border-collapse: collapse;
    width: 150px;
    height: auto;
    font-weight: bold;
    font-size: 10pt;
    /*background-color: #edf6f5;*/
    text-align: left;
    top: 0px;
    left: 0px;
}

.headerToggle {
    cursor: pointer;
    float: right;
    text-align: center;
    vertical-align: middle;
}

.headerToggleImage {
    width: 16px;
    height: 16px;
    border: 0px;
}

.iconbox2contents {
    position: relative;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px;
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 1px 1px 1px 2px;
    width: 150px;
    font-size: 10pt;
    vertical-align: top;
    display: none;
}

    .iconbox2contents ul li, .iconbox2contents_gr ul li {
        margin-top: 0px;
        margin-bottom: 6px;
        margin-left: -22px;
        font-size: 10pt;
        border: 1px;
        padding: 1px;
        list-style: square;
    }
